
  .timetable-form {
    display: table; /* Change to table for table layout */
    margin: auto;
  }
  
  .train-list {
    border: 1px solid #ddd;
    /* border-collapse: collapse; */
    width: 600px;
  }
  
  .train-list th,
  .train-list td {
    /* padding: 0.5rem; */
    border: 1px solid #ddd;
    /* text-align: left; */
  }
  
  .train-list th {
    background-color: #f2f2f2;
  }
  
  .traintable-body tr:nth-child(even) {
    background-color: #fbfbfb;
  }

  